.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.vscode/
composer.json
contributing.md
license.txt
.editorconfig
/system
/public/fonts/
/public/js/*
!/public/js/app.js
/public/css/*
!/public/css/app.css
!/public/css/crud.css
/app/logs/
/app/libraries/
/app/hooks/
/app/config/*
!/app/config/config.php
!/app/config/routes.php
!/app/config/autoload.php
