<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">&nbsp;</div>
<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" ng-click='lista()' class="btn btn-primary btn-sm pull-right">Lista</button>
    <h4>Producto</h4>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Nombre: {{ producto.nombre }}</li>
  		<li class="list-group-item">Referencia: {{ producto.referencia }}</li>
  		<li class="list-group-item">Precio: {{ producto.precio }}</li>
  		<li class="list-group-item">Categoría: {{ producto.categoria }}</li>
		<li class="list-group-item">Peso: {{ producto.peso }}</li>
		<li class="list-group-item">Stock: {{ producto.stock }}</li>
  	</ul>
  </div>
</div>
</div>